div.scroll-container {
    background-color: #858383;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    color: white;
  }
  
div.scroll-container img {
padding: 10px;
}

img {
    border-radius: 50%;
}

img.darken {
    filter: brightness(40%);
}

.brighten {
    filter: brightness(100%);
}