div.scroll-container {
    background-color: #858383;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    color: white;
    display: flex;
  }
  
div.scroll-container img {
padding: 10px;
}

div.caption {
    display: flex;
    justify-content: center;
}


img {
    border-radius: 50%;
    display: flex;
}

img.darken {
    filter: brightness(40%);
}

.brighten {
    filter: brightness(100%);
}